.input-sizer {
    display: inline-block;
    position: relative;
}

.input-sizer::after {
    content: attr(data-value);
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    white-space: pre;
    pointer-events: none;
    font: inherit;
    padding: 0 1ch 0 0;
    min-width: 1ch;
}

.input-sizer input {
    background: transparent;
    border: 0;
    font: inherit;
    margin: 0;
    min-width: 2ch;
    padding: 0;
    resize: none;
    width: 100%;
}

/* When input is empty, use placeholder for sizing */
.input-sizer[data-value=""]::after {
    content: attr(data-placeholder);
    min-width: 22ch;
    padding: 0 1ch 0 0;
}